body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #d9f5f4;
}

.container{
    position: relative;
}

.valentines{
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}

.envelope{
    position: relative;
    width: 400px;
    height: 280px;
    background: #f08080;
    display: grid;
    place-items: center;
}

.envelope::before{
    content: '';
    position: absolute;
    width: 280px;
    height: 280px;
    background: #e75480;
    transform: rotate(45deg);
    top: -140px;
    left: 60px;
    border-radius: 40px 0 0 0;
}

.front{
    position: absolute;
    border-right: 240px solid #f087a0;
    border-top: 120px solid transparent;
    border-bottom: 140px solid transparent;
    left: 160px;
    top: 8px;
    width: 0;
    height: 0;
    z-index: 10;
}

.front::before{
    position: absolute;
    content: '';
    border-left: 400px solid #f9b0c0;
    border-top: 260px solid transparent;
    left: -160px;
    top: -120px;
}

.card{
    position: relative;
    width: 350px;
    height: 240px;
    background: #fff;
    border-radius: 4px;
    display: grid;
    place-items: center;
    transition: 1s;
}

.card::before{
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #010d14;
    border-style: dashed;
}

.valentines:hover .card{
    transform: translateY(-120px); /* leicht angepasst, da die Karte größer ist */
}

.card .text{
    font-family: 'Alex Brush', cursive;
    font-size: 11px;
    line-height: 28px;
    text-align: center;
    color: #003049;
    padding: 10px;
}

.card .heart{
    position: relative;
    width: 40px;
    height: 40px;
    background: red;
    bottom: 25px;
    transform: rotate(45deg);
    border-radius: 50% 0 0 50%;
}

.card .heart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 0 50% 50% 0;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: top;
}

.card .heart::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    right: -20px;
}

@keyframes up{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}

.valentines::before{
    content: '';
    position: absolute;
    width: 440px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    top: 340px;
    left: -20px;
    animation: scale 3s linear infinite;
}

@keyframes scale{
    0%, 100%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(.85);
    }
}
